.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
    height: 40px;
    max-width: 275px;
}

#id_default_country option:first-child {
    color: #aab7c4;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 40px;
    padding: 6px 12px;
}