/*title font*/
#title {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    color: #084A47;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(238, 196, 109, 0.6),
    rgba(238, 196, 109, 0.3)), url('/media/hero_image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #084A47;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

a {
    color: #084A47;
}

a.text-muted {
    color: #084A47 !important;
}

a.text-muted:hover {
    color: #6C780E!important;
}

a:hover {
    color: #6C780E;
}

.hover:hover {
    color: #6C780E;
    background-color: white;
    border-radius: 3%;
}

.logo-font {
    text-transform: uppercase;
}

.text-color {
    color: #292823
}

.bg-color {
    background: #084A47 !important;
}


/*box over hero image for s-title and tagline*/
#text-cover {
    letter-spacing: 2px;
    width: 400px;
    height: 250px;
    background-color: rgba(108, 120, 14, .6);
    padding: 20px;
  }

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #BE7A07;
    color: #292823;
    min-width: 260px;
}

.btn-color {
    background: #084A47;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #EEC46D;
    color: #292823;
}

.btn-color:hover,
.btn-color:active,
.btn-color:focus {
    background: #6C780E;
    color: white;
}

.text-white {
    color: #fff !important;
}

.text-color {
    color: #292823 !important;
}

.border-color {
    border: 1px solid #BE7A07 !important;
}

.border-black {
    border: 1px solid #292823 !important;
}

a.category-badge > span.badge:hover {
    background: #BE7A07 !important;
    color: #fff !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 2.625rem;
    width: 2.625rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 196, 109, 0.1);
}

.btt-button:active {
    background-color: #EEC46D;
}

.btt-link {
    cursor: pointer;
}

.btn-outline-color {
    background: white;
    color: #BE7A07 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #292823;
}

.btn-outline-color:hover,
.btn-outline-color:active,
.btn-outline-color:focus {
    background: #BE7A07;
    color: white !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

#review-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    padding: 30px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #292823;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #BE7A07;
    border: 1px solid #BE7A07;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgba(190, 122, 7, 0.8);
    border-color: #EEC46D;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Featured author */
#featured {
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: #BE7A07 solid 2px;
    border-radius: 5px; 
    font-weight: bolder;
    width: 80%;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}