{% load static %}

  <footer class="footer bg-white">
    <hr>
    <div class="text-center">
        <div class="text-muted text-color">
            <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
           <!-- Mailchimp signup form here -->
        </div>
    </div>
    <div class="text-center">
        <p class="m-0 text-center text-color">
            <a class="text-color" href="https://www.facebook.com/profile.php?id=61550751631784" target="_blank"
              rel="noopener" aria-label="Visit our Facebook page"><i
                class="fa-brands fa-facebook pl-2"></i></a>
            <a class="text-color" href="https://www.instagram.com" target="_blank" rel="noopener"
              aria-label="Visit our Instagram page "><i class="fa-brands fa-instagram pl-2"></i></a>
            <a class="text-color" href="https://www.twitter.com" target="_blank" rel="noopener"
              aria-label="Visit our Twitter page"><i class="fa-brands fa-twitter pl-2"></i></a>
        </p>    
    </div>
 </footer>