<!-- Menu options Books & Other for nav bar-->

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=Adventure" class="dropdown-item">Adventure</a>
                <a href="{% url 'products' %}?category=Fantasy" class="dropdown-item ">Fantasy</a>
                <a href="{% url 'products' %}?category=Fiction" class="dropdown-item ">Fiction</a>
                <a href="{% url 'products' %}?category=Picture books" class="dropdown-item ">Picture books</a>
                <a href="{% url 'products' %}?category=Adventure,Fantasy,Fiction,Picture books" class="dropdown-item">All books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'featured_author' %}" class="dropdown-item">Our Author of the Month</a>
                <a href="{% url 'contact_us' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>