{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- 404 Error -->
    <div class="container text-center text-bg-danger">
        <h1>404 - Error</h1>
        <div>
            <h2>Sorry! The requested web page doesn't exist.</h2>
        </div>
    
        <div>
            <a href="{% url 'home' %}" class="shop-now-button btn-large rounded-0 text-upppercase btn btn-color">Shop Bedside Tales</a>
        </div>
    </div>
    <hr>

{% endblock %}